<?xml version="1.0" encoding="UTF-8" ?>
<configuration packagingData="true">
    <contextName>jianzhong-server</contextName>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <if condition='isDefined("root.dir")'>
        <then>
            <property name="LOG_HOME" value="${root.dir}/logs"/>
        </then>
        <else>
            <property name="LOG_HOME" value="logs"/>
        </else>
    </if>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="infoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/jianzhong-server.INFO</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/jianzhong-server.%d{yyyy-MM-dd}.INFO</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C{36}[%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/jianzhong-server.ERROR</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/jianzhong-server.%d{yyyy-MM-dd}.ERROR</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C{36}[%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/jianzhong-server.DEBUG</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/jianzhong-server.%d{yyyy-MM-dd}.DEBUG</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C{36}[%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DEBUG_LEVEL_REMAPPER" class="org.springframework.boot.logging.logback.LevelRemappingAppender">
        <destinationLogger>org.springframework.boot</destinationLogger>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="debugLog"/>
        <appender-ref ref="errorLog"/>
        <appender-ref ref="infoLog"/>
    </root>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <logger name="com.dakun.jianzhong" level="DEBUG"/>

</configuration>