<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dakun.jianzhong.mapper.AccountPageMapper">
    <resultMap id="BaseResultMap" type="com.dakun.jianzhong.model.AccountPage">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="sref" jdbcType="VARCHAR" property="sref"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="heading" jdbcType="VARCHAR" property="heading"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="allow_roles" jdbcType="VARCHAR" property="allowRoles"/>
    </resultMap>

    <select id="listMenuByRole" resultMap="BaseResultMap">
        select
            a.text,a.sref,a.icon,a.heading
        from account_page a
        <where>
            a.allow_roles like CONCAT('%',#{role},'%')
        </where>
        order by a.level
    </select>

    <select id="listByCompanyIdAndRoleId" resultMap="BaseResultMap">
        select apa.text, apa.sref, apa.icon, apa.heading
        from account_page apa
            inner join account_company_page acp on acp.page_id=apa.id
        where acp.company_id=#{companyId}
            and acp.role_ids like concat('%', #{roleId}, '%')
        order by apa.level asc
    </select>
</mapper>