<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dakun.jianzhong.mapper.AccountFollowUserMapper">
  <resultMap id="BaseResultMap" type="com.dakun.jianzhong.model.AccountFollowUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="f_id" jdbcType="INTEGER" property="fId" />
    <result column="state" jdbcType="INTEGER" property="state"/>
  </resultMap>

  <resultMap id="FansListResultMap" type="com.dakun.jianzhong.model.vo.AccountFollowUserVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="usertype" jdbcType="INTEGER" property="userType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_followed" jdbcType="INTEGER" property="isFollowed" />
  </resultMap>

  <insert id="addFollow" parameterType="com.dakun.jianzhong.model.AccountFollowUser">
      replace into account_follow_user(user_id,f_id,id,state)
      VALUES (#{userId},#{fId},#{id},1)
  </insert>

  <update id="cancleFollow" parameterType="com.dakun.jianzhong.model.AccountFollowUser">
    update account_follow_user set state=-10 where user_id = #{userId} and f_id = #{fId}
  </update>

  <select id="getFansList" parameterType="java.util.HashMap" resultMap="FansListResultMap">
      SELECT
        u.id,
        u.usertype,
        u.name,
        u.portrait,
        CASE
          WHEN u.usertype = 1
          THEN ''
          WHEN u.usertype = 2
          THEN e.description
          ELSE d.description
        END description,
        CASE
          WHEN IFNULL(fans.id, '') = ''
          THEN 0
          ELSE 1
        END is_followed
      FROM
        account_user u
        LEFT JOIN account_expert e
          ON u.id = e.id
        LEFT JOIN account_dealer d
          ON u.id = d.id,
        account_follow_user f
        LEFT JOIN account_follow_user fans
          ON f.f_id = fans.user_id
          AND f.user_id = fans.f_id
          AND f.id != fans.id
          and f.state=fans.state
      WHERE u.id = f.user_id
        AND f.f_id = ${uid}
        and f.state=1
  </select>

  <select id="getFollowList" parameterType="java.util.HashMap" resultMap="FansListResultMap">
    SELECT
    u.id,
    u.usertype,
    u.name,
    u.portrait,
    CASE
    WHEN u.usertype = 1
    THEN ''
    WHEN u.usertype = 2
    THEN e.description
    ELSE d.description
    END description,
    1 is_followed
    FROM
    account_user u
    LEFT JOIN account_expert e
    ON u.id = e.id
    LEFT JOIN account_dealer d
    ON u.id = d.id,
    account_follow_user f
    WHERE u.id = f.f_id
    AND f.user_id = ${uid}
    and f.state=1
  </select>
</mapper>