<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dakun.jianzhong.mapper.AccountAdminMessageMapper">
  <resultMap id="BaseResultMap" type="com.dakun.jianzhong.model.AccountAdminMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sendId" jdbcType="INTEGER" property="sendid" />
    <result column="recId" jdbcType="INTEGER" property="recid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
</mapper>