<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dakun.jianzhong.mapper.AccountUserMapper">
  <resultMap id="BaseResultMap" type="com.dakun.jianzhong.model.AccountUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="usertype" jdbcType="INTEGER" property="usertype" />
    <result column="regtime" jdbcType="TIMESTAMP" property="regtime" />
    <result column="default_add" jdbcType="VARCHAR" property="defaultAdd" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="temppwd" jdbcType="VARCHAR" property="temppwd" />
    <result column="concern_crops" jdbcType="VARCHAR" property="concernCrops" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="follower_num" jdbcType="INTEGER" property="followerNum" />
    <result column="follow_num" jdbcType="INTEGER" property="followNum" />
    <result column="registration_id" jdbcType="VARCHAR" property="registrationId" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>

  <update id="cancelRegistIdForOtherUsr" parameterType="java.util.HashMap">
     update account_user set registration_id=#{NULL}  where registration_id=#{registrationId}
     <![CDATA[ and id != #{uid} ]]>
  </update>
</mapper>