<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dakun.jianzhong.mapper.AccountAddressMapper">
  <resultMap id="BaseResultMap" type="com.dakun.jianzhong.model.AccountAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="district" jdbcType="INTEGER" property="district" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="location_id" jdbcType="VARCHAR" property="locationId" />
    <result column="crop" jdbcType="INTEGER" property="crop" />
    <result column="crop_name" jdbcType="VARCHAR" property="cropName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap id="extendResultMap" extends="BaseResultMap" type="com.dakun.jianzhong.model.AccountAddress">
      <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
      <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
      <result column="district_name" jdbcType="VARCHAR" property="districtName"/>
  </resultMap>

  <select id="list" parameterType="java.util.HashMap" resultMap="extendResultMap">
      select
              ad.*,p.name province_name,c.name city_name ,d.name district_name
      from
        account_address ad
                left join account_city d on ad.district = d.id,
        account_city p,
        account_city c
        where ad.province = p.id and ad.city = c.id
        <if test="id!=null"> and ad.id = #{id}</if>
        <if test="userId!=null"> and ad.user_id = #{userId}</if>
        <if test="province!=null"> and ad.province=#{province}</if>
        <if test="city!=null"> and ad.city=#{city}</if>
        <if test="district!=null"> and ad.district=#{district}</if>
        <if test="locationId!=null"> and ad.locationId=#{locationId}</if>
        <if test="crop!=null"> and ad.crop=#{crop}</if>
        <if test="cropName!=null"> and ad.crop_name=#{cropName}</if>
        <if test="state!=null"> and ad.state=#{state}</if>
  </select>
</mapper>