<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dakun.jianzhong.mapper.AppVersionRuleMapper">
  <resultMap id="BaseResultMap" type="com.dakun.jianzhong.model.AppVersionRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="version_id" jdbcType="VARCHAR" property="versionId" />
    <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
    <result column="is_force" jdbcType="INTEGER" property="isForce" />
    <result column="rule_val" jdbcType="VARCHAR" property="ruleVal" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>